body,
input,
textarea,
select {
  font: normal 14px/20px "Helvetica Neue", helvetica, arial, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
}

body{
}
footer{

vertical-align: baseline;
 bottom: 0;
    margin: 0px auto;
    text-align:center;
    float:left;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p {
margin:16px 8px 16px 0px;
}

h1{
  margin: 60px 8px 60px 0;
  font-size: 40px;
  font-weight: 100;
}

span{
font-size: 14px;
  font-family: "Open Sans", helvetica, sans-serif;
}

h3{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0;
}

h3:hover ,h3.active{
    background-color: #ddd;
}
h3:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

h3.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}



label, input{
  margin: 4px;
}
ul{
  margin: 4px 0px 4px 0px;
}
li {
  list-style-type: none;
  text-align: left;
}
li label{
  display: block;
  margin: 0px;
}

textarea {
  font-size: 16px;
  width: 100%;
  height: 80%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}

input[type=input] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}
input[type=button] {background-color: #e7e7e7; color: black;}
input[type=button]:hover {background: #ddd;}

input[type=radio] {
   margin-top: 8px;
vertical-align:top;
}

span{
font-size: 14px;
  font-family: "Open Sans", helvetica, sans-serif;
   color: #bbb;
 }

.navbar {
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 background-color: #222;
  overflow: hidden;

  width: 100%;
  margin-bottom: 4px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
         background-color: #008CBA;
}
a.navbarright {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.intro{
  margin: 40px 8px 40px 0;

font-family: "Open Sans", helvetica, sans-serif;

}
.card {
  font-size: 18px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;

  margin: 20px 40px 20px 0px;
     
}
.card a {
   color: #333;
 text-decoration: none;
}


.container {

    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.emailcontainer,.selectcontainer{
  margin: 4px;
  padding: 4px;
  width: 48%;
  float: left;
}
.address{
  padding: 4px;
  margin:0px 0px 16px;
      background-color: #eee;
    color: #444;
}

.greeting ul,
.opening ul,
.reason ul,
.requesting ul,
.offering ul,
.ending ul,
.closing ul {
  display: none;
}

.structure{
  color: #666666;  
}

.structure p{
  margin: 0 8px;
}

.main{
  width: 60%;
  margin: 16px auto;
}
.control-label{
  display: inline-block;
  width: 50px;
  text-align: right;
}

.labelformat{
  display: inline-block;
  margin: 4px;
  max-width: 570px;
}
#informal_sample{

    font-family:Georgia;
    background:LemonChiffon  ;

}

#formal_sample{

     font-family:Georgia;
    background:LightSkyBlue ;

}





