.greeting div,
.reason div,
.requesting div,
.ending div,
.closing div {
  display: none;
}

h3,
h4,
ul {
  margin: 2px;
  padding: 4px;
}

h3:hover {
  background-color: lightgrey;
}

li {
  list-style-type: none;
}

textarea {
  textarea {
  width: 100%;
  display: block;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: both;
}
}
